node_modules/
dist/
.angular/
.cache/
coverage/
exemples_config/
BK/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/app/state/active-addon.generated.ts
src/app/state/asset-base.generated.ts
csuc-add-ons/src/app/state/active-addon.generated.ts
csuc-add-ons/src/app/state/asset-base.generated.ts
csuc-add-ons/node_modules/
csuc-add-ons/dist/
csuc-add-ons/.angular/
csuc-add-ons/coverage/
